<nav class="navbar navbar-expand-xl navbar-dark p-3" id="nav">
    <div class="navbar-brand">
        <h4 class="text-uppercase mb-0"> {{ data['name'][lang] }} </h4>
    </div>
    <div (click)="toggleRotate()" class="navbar-toggler border-0" data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars-staggered" id="toggler"></i>
    </div>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
            <a href="#knowme" class="nav-link">{{ data['knowme'][lang] }}</a>
        </li>
        <li class="nav-item">
            <a href="#references" class="nav-link">{{ data['reference'][lang]['title'] }}</a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">{{ data['contact'][lang] }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="changeLanguage()">
                {{ data["language"][lang] }}
                <i class="fa fa-globe"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="changeTheme()">
                {{ data['theme'][lang][oppositeTheme()] }} 
                <i class="fa" [class.fa-moon]="theme === 'light'" [class.fa-lightbulb]="theme === 'dark'"></i>
            </a>              
        </li>
        </ul>
    </div>
    <!-- theme: {
        hu: {
            light: "Világos",
            dark: "Sötét",
        },
        en: {
            light: "Light",
            dark: "Dark"
        },
    } -->

</nav>

<div class="to-top" (click)="scrollToTop()" [ngClass]="{ 'show-scrollTop': windowScrolled }">
    <i class="fa fa-up-long fa-3x p-1 text-border"></i>
</div>