@import "../../styleVariables";

nav{
    background-color: $main-color;

    h3{
        color: $secondary-color!important;
    }

    a, a:visited, a:link{
        color: $secondary-color!important;
        cursor: pointer;
        transition: color 200ms ease-in-out, text-shadow 250ms ease-in-out;
        margin-bottom: 0;

        &:hover{
            color: $background-color!important;
        	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
        }
    }

    .nav-item, .nav-link{
        margin-inline: .3rem;
        padding: 0;
    }
}


// scroll up arrow
.to-top {
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    z-index: 99;
    color: $main-color;
}
  
.show-scrollTop {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
}