<div class="know-me d-flex justify-content-center flex-column" id="knowme">
    <h2 class="ml-2">{{ data['knowme'][lang] }}!</h2>

    <h3 class="text-center">{{ data['aboutme'][lang] }}</h3>
    <div class="row text-center">
        <div class="info-col col-xl-4">
            <div class="info-card">
                <img src="assets/images/school.svg" [alt]="data['school'][lang]['imageAlt']"/>
                <div class="data-subtitle">{{ data['school'][lang]['title'] }}</div>
                <div class="list-divider"></div>
                <p [innerHTML]="data['school'][lang]['desc']"></p>
            </div>
        </div>
        <div class="info-col col-xl-4">
            <div class="info-card">
                <img src="assets/images/language.svg" [alt]="data['languages'][lang]['imageAlt']"/>
                <div class="data-subtitle">{{ data['languages'][lang]['title'] }}</div>
                <div class="list-divider"></div>
                <p [innerHTML]="data['languages'][lang]['desc']"></p>
            </div>
        </div>
        <div class="info-col col-xl-4">
            <div class="info-card">
                <img src="assets/images/travel.svg" [alt]="data['travel'][lang]['imageAlt']"/>
                <div class="data-subtitle">{{ data['travel'][lang]['title'] }}</div>
                <div class="list-divider"></div>
                <p [innerHTML]="data['travel'][lang]['desc']"></p>
            </div>
        </div>
    </div>
    <h3 class="text-center mt-2">{{ data['skills'][lang]['title'] }}</h3>
    <div class="info-card mx-3 skills d-flex align-self-center flex-column">
        <img src="assets/images/coding.svg" [alt]="data['skills'][lang]['imageAlt']" class="d-block mx-auto"/>
        
        <div class="row d-flex align-items-center skill-block" *ngFor="let skill of skillList">
            <div class="col-md-4">
                <h4>{{skill.name}}</h4>
            </div>
            <div class="col-md-8">
                <mat-progress-bar mode="determinate" [value]="skill.value"></mat-progress-bar>
            </div>
        </div>
        
    </div>
</div>